<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaise ho raja ji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <header>
            <div>
                <h1>⚡ DevOps Task Manager</h1>
                <p>Manage your tasks efficiently</p>
            </div>

            <div class="status">
                ● Application Online
            </div>
        </header>

        <section class="add-task">
            <input type="text" placeholder="Add a new task...">
            <button>+ Add Task</button>
        </section>

        <section class="tasks">

            <h2>📋 My Tasks</h2>

            <div class="task">
                <input type="checkbox">
                <span>Deploy application</span>
            </div>

            <div class="task">
                <input type="checkbox">
                <span>Configure Jenkins pipeline</span>
            </div>

            <div class="task completed">
                <input type="checkbox" checked>
                <span>Setup Docker</span>
            </div>

        </section>

    </div>

</body>
</html>
